* {
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}

.container {
  background-color: rgb(48, 43, 43);
  width: 200px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50%;
  padding: 5px 0px;
}

.box {
  width: 175px;
  height: 175px;
  margin: 5px 0px;
}

.red {
  background-color: red;
  border: 10px solid maroon;
}

.yellow {
  background-color: yellow;
  border: 10px solid darkgoldenrod;
}

.green {
  background-color: rgb(7, 179, 7);
  border: 10px solid darkgreen;
}

/*Uppdatering version två*/

.bling {
  width: 100%;
  height: 50%;
  background-color: rgb(241, 190, 190);
  position: relative;
  top: 50%;
}

.blong {
  width: 50%;
  height: 50%;
  background-color: rgb(255, 255, 191);
  position: relative;
  top: 50%;
  left: 50%;
}

.blang {
  width: 50%;
  height: 50%;
  background-color: rgb(173, 232, 173);
  position: relative;
  top: 50%;
}

.bling:hover {
  background-color: rgb(237, 114, 114);
  transition: 1s ease-in;
}

.blong:hover {
  background-color: rgb(255, 196, 0);
  transition: 1s ease-in;
}

.blang:hover {
  background-color: rgb(89, 187, 9);
  transition: 1s ease-in;
}

/*Version 3*/

.redimation {
  opacity: 20%;
  animation-name: pulsing-red;
  animation-duration: 7s;
  animation-delay: 6s;
  animation-iteration-count: infinite;
}

.yellowmation {
  opacity: 20%;
  animation-name: pulsing-yellow;
  animation-duration: 7s;
  animation-delay: 4s;
  animation-iteration-count: infinite;
}

.greenimation {
  opacity: 20%;
  animation-name: pulsing-green;
  animation-duration: 7s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

@keyframes pulsing-red {
  0% {
    opacity: 20%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 20%;
  }
}
@keyframes pulsing-yellow {
  0% {
    opacity: 20%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 20%;
  }
}
@keyframes pulsing-green {
  0% {
    opacity: 20%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 20%;
  }
}
